*{
margin:0;
padding:0;
}

body{
background-color: rgb(7,54,131);
}

header{
background-color: white;
}

nav ul{
display: flex;
list-style: none;
height: 5em;
align-items: center;
}

nav li{
margin: 0 1em;
font-family: Arial, sans-serif;
font-weight: bold;
}

.logo{
margin-right: auto;
margin-left: 4em;
}

nav li:last-child{
margin-right: 4em;
}



